@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  background: black;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0ed;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav_l {
  list-style: none;
}

.nav_l li {
  display: inline;
  padding: 0% 20px;
}

.nav_l li a {
  transition: all 0.3s ease 0s;
}

.nav_l li a:hover {
  color: #d3b1eb;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #d3b1eb;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.head h1 {
  font-family: "Montserrat", sans-serif;
  color: #edf0ed;
  font-size: 1cm;
  padding: 0;
  margin: 0;
}
.head p {
  color: #edf0ed;
  font-family: "Montserrat", sans-serif;
}

/* body {
  align-items: flex-end;
  background-image: url("img/2.png");

  background-repeat: no-repeat;
} */

.poll {
  display: flex;
}

footer p {
  color: #edf0ed;
  font-family: "Montserrat", sans-serif;
}
footer {
  display: flex;
  justify-content: center;
}

footer a {
  color: #d3b1eb;
}
